<!DOCTYPE html>
<html lang="en" ng-app="ludbek">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
Why We Stare At Eyes - ludbek        </title>
        <link href="/static/pygments-css/vim.css" rel="stylesheet">
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/ludbek/css/animate.min.css" rel="stylesheet">
        <script type="text/javascript" src="/static/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
        <link href="/static/ludbek/css/ludbek.css" rel="stylesheet">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">
        <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/static/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="/static/gsap/src/minified/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="/static/gsap/src/minified/TweenLite.min.js"></script>
        <script type="text/javascript" src="/static/ludbek/js/ludbek.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="tbl">
            <div class="tbl-cl">
                <div class="container">
                    <div class="row">
                        <div class="banner col-xs-12">
                            <header>
<h1>/<a href="http://localhost:8000">ludbek</a>/<a href="http://localhost:8000/blog">blog</a>/</h1>
                                <hr/>
                            </header>
                        </div>
                    </div>
                    <div class="row">
                        <div class="content col-xs-12">
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title"> Why We Stare At Eyes </h1>
    </header>
<footer class="post-info">
        <abbr class="published" title="2015-03-05T00:00:00+01:00">
            PUBLISHED ON March 05, 2015
        </abbr>
		<br />
        <abbr>
            THOUGHTS ON  <a href="http://localhost:8000/thoughts/eye/">eye</a>  <a href="http://localhost:8000/thoughts/pyschology/">pyschology</a>         </abbr>


</footer><!-- /.post-info -->    <br>
    <div class="entry-content">
      <p>When we talk, see or watch someone we often stare them at their eyes. I believe there are three reasons for this.</p>
<ol>
<li>
<p>their color distinction is dominant compared to other parts of the face</p>
</li>
<li>
<p>eyes have movement</p>
</li>
<li>
<p>focusing at an eye our brain can get symmetry of entire face</p>
</li>
</ol>
    </div><!-- /.entry-content -->

  </article>
</section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-down cover" ng-show="nav_visible">
            <div class="wrapper">
                <div class="transparent"></div>
                <div class="navigation">
                    <div class="tbl">
                        <div class="tbl-cl">
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="http://localhost:8000/">ludbek</a></li>
                                    <li><a href="http://localhost:8000/blog/">blog</a></li>
                                    <li><a href="http://localhost:8000/thoughts/">thoughts</a></li>
                                </ul>
                            </nav>
                            <div class="search-result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zoom show-cover text-info hidden-xs" ng-show="!nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom remove-cover text-danger hidden-xs" ng-show="nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-close fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom show-cover-btm text-info visible-xs" ng-show="!nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom remove-cover-btm text-danger visible-xs" ng-show="nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-close fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </body>
</html>