<!DOCTYPE html>
<html lang="en" ng-app="ludbek">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
Hello World - ludbek        </title>
            <link href="http://ludbek.com/feeds/all/atom.xml" type="application/atom+xml" rel="alternate" title="ludbek Atom Feed" />
        <link href="/static/pygments-css/vim.css" rel="stylesheet">
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/ludbek/css/animate.min.css" rel="stylesheet">
        <script type="text/javascript" src="/static/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
        <link href="/static/ludbek/css/ludbek.css" rel="stylesheet">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">
        <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/static/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="/static/gsap/src/minified/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="/static/gsap/src/minified/TweenLite.min.js"></script>
        <script type="text/javascript" src="/static/ludbek/js/ludbek.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="tbl">
            <div class="tbl-cl">
                <div class="container">
                    <div class="row">
                        <div class="banner col-xs-12">
                            <header>
<h1>/<a href="http://ludbek.com">ludbek</a>/<a href="http://ludbek.com/blog">blog</a>/</h1>
                                <hr/>
                            </header>
                        </div>
                    </div>
                    <div class="row">
                        <div class="content col-xs-12">
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title"> Hello World </h1>
    </header>
<footer class="post-info">
        <abbr class="published" title="2013-10-17T00:00:00+02:00">
            PUBLISHED ON October 17, 2013
        </abbr>


</footer><!-- /.post-info -->    <br>
    <div class="entry-content">
      
    </div><!-- /.entry-content -->
    <hr>
    <div class="comments">
      <h2 class="disqus-comment-count" data-disqus-url="http://ludbek.com/blog/hello-world/" ng-click="show_comment = !show_comment">comments</h2>
      <div id="disqus_thread" ng-show="show_comment"></div>
      <script type="text/javascript">
        var disqus_shortname = 'ludbek';
        var disqus_identifier = 'blog/hello-world/';
        var disqus_url = 'http://ludbek.com/blog/hello-world/';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//ludbek.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>

  </article>
</section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-down cover" ng-show="nav_visible">
            <div class="wrapper">
                <div class="transparent"></div>
                <div class="navigation">
                    <div class="tbl">
                        <div class="tbl-cl">
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="http://ludbek.com/">ludbek</a></li>
                                    <li><a href="http://ludbek.com/blog/">blog</a></li>
                                    <li><a href="http://ludbek.com/thoughts/">thoughts</a></li>
                                </ul>
                            </nav>
                            <div class="search-result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zoom show-cover text-info hidden-xs" ng-show="!nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom remove-cover text-danger hidden-xs" ng-show="nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-close fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom show-cover-btm text-info visible-xs" ng-show="!nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="zoom remove-cover-btm text-danger visible-xs" ng-show="nav_visible" ng-click="nav_visible = !nav_visible">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-close fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45665448-1', 'auto');
      ga('send', 'pageview');

    </script>
<script type="text/javascript">
    var disqus_shortname = 'ludbek';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
    </body>
</html>